
*{word-wrap: break-word;}
.divcenter{width: 1100px;margin: 0 auto;}

header{background: #919191 url(./banner.jfif) no-repeat;}
header .header{overflow: hidden;display: flex;flex-direction: column;align-content: center;justify-content: center;height: 400px;;}
header .header h1{text-align: center;color: white;font: 40px/80px ""}
header .header h4{text-align: center;color: rgb(221, 221, 221);margin: 20px 0;}

section{background: rgb(238, 238, 238);}
section .section{overflow: hidden;}
section .section>div{background: white; margin: 40px 50px;overflow: hidden;padding:30px;box-shadow: 2px 3px 10px 0 rgb(215, 215, 218);}
section .section>div:nth-of-type(1){background:white url(./2.png) no-repeat right ;}
section .section>div:nth-of-type(2){background:white url(./1.png) no-repeat right ;}
section .section>div>h1{color: #2e74b5;font-weight: normal;font-size: 24px;}
section .section>div>p{text-indent: 2em;line-height: 30px;font-size: 20px;}
section .section>div>div {padding: 10px;margin: 10px 20px 0 20px;}
section .section>div>div p{line-height: 26px;font-size: 16px;border-radius: 10px;background: rgb(245, 245, 245);padding:10px;margin:5px 50px 0 50px;border:1px solid rgb(221, 221, 221); }
section .section>div>div h2 {font:14px/30px "";color: #2e74b5;}

footer{background: black;}
footer .footer p{font: 12px/36px "";color: rgb(182, 182, 182);text-align: center;}

body>ul{position: fixed;left: 50px;top: 30px;}

body>ul li a{display: block;width: 120px;;float: right;padding:10px;font-size: 12px;color:rgb(147, 147, 147);}
body>ul li a:hover{ color: #2e74b5; background: rgb(243, 243, 243);transition: background-color 1s;font-weight: bold;}